/* External CSS */
body {
    padding-left : 5%;
    padding-right: 5%;
    font-family:Arial, Helvetica, sans-serif;
}

.content {
    border:1px solid gray;
    padding-left:15px;
    padding-right:15px;
}

#judul-atas {
    background-color:blue;
    color:white;
    padding :10px;
    font-size:24px;
}

#menu {
    background-color:grey;
}

h3 /* sub judul */
{
    text-transform: uppercase;
}

.button-menu {
    color:white;
    display:inline-block;
    padding:5px;
    text-decoration: none;
    font-size:20px;
    font-weight:bold;
    border:0.5px solid gray;
}

.button-menu:hover {
    background-color:blue;
    color:yellow;
    border:0.5px solid yellow;
}

.inline{
    display: flex;
    flex-wrap: nowrap;
}

#bil1, #bil2{
    width: 100px;
    height: 15px;
}= 